<div id="competence">
{% block competence %}
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">MES COMPETENCES</div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row"> 
                        <div class="col-lg-4">
                            <p class="text-right text-primary">Programmation langage: </p>
                        </div>
                        <div class="col-lg-4 col-lg-offset-3">
                            <p class="text-left text-primary">PHP, C,  Java (J2EE,JEE)</p>
                        </div>

                    </div>
                </div>


            </div>


            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <p class="text-right text-primary">Intégration Web: </p>
                        </div>
                        <div class="col-lg-4 col-lg-offset-3">
                            <p class="text-left text-primary">HTML-5, XHTML, CSS3,XML </p>
                        </div>

                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <p class="text-right text-primary">Programmation Web: </p>
                        </div>
                        <div class="col-lg-4 col-lg-offset-3">
                            <p class="text-left text-primary">PHP,Webpack Encore,Bower, Grunt, JavaScript, MySQL, Oracle,GIMP, Adobe Illustrator, Flash </p>
                        </div>

                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <p class="text-right text-primary">Framework: </p>
                        </div>
                        <div class="col-lg-4 col-lg-offset-3">
                            <p class="text-left text-primary">Symfony 2.8/3/4(Modèle MVC),Agile(Scrum),JQuery,Angular 2, Bootstrap 3/4 , SASS/COMPASS</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <p class="text-right text-primary">Développement d'Application Mobile: </p>
                        </div>
                        <div class="col-lg-4 col-lg-offset-3">
                            <p class="text-left text-primary">Android SDK, Android Studio,PhoneGap, Jquery Mobile, SqLite </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>    
    </div>                    
{% endblock %}
</div>