{# empty Twig template #}
<div id="contact">
        {% block contact %}
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">CONTACT</div>
                    <div class="panel-body clearfix">
                       <p>N'hésitez pas à me contacter pour une demande d’information, un devis, 
                           une collaboration, un projet.. ? Une embauche ? Je vous répondrai avec plaisir .. </p>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                    <p>HOSSAIN Mohammad Sohrab<br />19, rue Pinel<br />93200 Saint-Denis</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-lg-offset-2">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <p>Portable: 07. 51. 29. 22. 64<br />E-mail: sohrab_sust_cse@yahoo.com<br />Skype: sohrab_sust_cse</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <p class="text-center">  <a href="sohrabhossain.tk">sohrabhossain.tk</a></p>
                    </div>

                </div> 
            </div>

        {% endblock %}

</div>