{# empty Twig template #}
<div id="experience">

        {% block experience %} 
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">EXPÉRIENCES PROFESSIONNELLES</h3>
                    </div>
                    <div class="panel-body">
                        <p class="text-justify"> Durant mes études, j’ai pu acquérir une multitude de connaissances dans le domaine 
                            du Multimédia facilitant ainsi mon apprentissage aux nouvelles technologies.<br /><br />
                            Tout au long de mon cursus, j’ai pu me perfectionner dans le domaine du Web en effectuant plusieurs 
                            stages dont deux d’entre eux ont débouché sur un CDD et un CDI. <br />  

                        <div class="panel panel-default">
                            <div class="panel-heading">Stagiaire:</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="">Avril à Juin2014</p>
                                    </div>
                                    <div class="col-lg-6 col-lg-offset-1">
                                        <p class=""> Développer site web dynamique, Le CNAM, Saint-Denis, ile de france.</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class=""> Nov 2009-Déc2010</p>
                                    </div>
                                    <div class="col-lg-6 col-lg-offset-1">
                                        <p class="">Création logo, Développer site web static, dynamique Departement de CSE, SUST, Bangladaise.</p>
                                    </div>
                                </div>

                            </div>
                        </div>                        

                        <div class="panel panel-default">
                            <div class="panel-heading">Projets académiques:</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="">Site web e-commerce (Framework Symfony 2 model MVC):</p>
                                    </div>
                                    <div class="col-lg-6 col-lg-offset-1">
                                        <p class="">création facturation et livraison,Affichage et modifier tout les
                                            Produits et des prix, Calcul des TVA, HT, TTC, Inscription pour les clients.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="">Création une dynamique Facture (outil Java):</p>
                                    </div>
                                    <div class="col-lg-6 col-lg-offset-1">
                                        <p class="">Calculer montant et les opération: Ajouter une ligne, Ajoute une section, 
                                            Ouvrir une section existence,Afficher un aperçu, Supprimer une ligne, Corriger le montant de ligne ,
                                            Quitter le programme.</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="">Création de site web pour restauration:</p>
                                    </div>
                                    <div class="col-lg-6 col-lg-offset-1">
                                        <p class="">Création logo,banner(Gimp),Adaptions pour le responsive design (Bootstap 3), 
                                            Sécurité coté client (jQuery), Sécurité cote serveur, Réservation pour en ligne, 
                                            Modification pour Admin.</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="">Création de site web dynamique pour équitation:</p>
                                    </div>
                                    <div class="col-lg-6 col-lg-offset-1">
                                        <p class="">Création logo, banner(Adobe photoshop), Le responsive design par CSS, 
                                            affichage nouvelle opportunité pour équitation, Sécurité coté client (jQuery), 
                                            Sécurité cote serveur.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}

</div>