{# empty Twig template #}

<div id="formation">
{% block formation %}
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">FORMATIONS DANS LE DOMAINE DE L’INFORMATIQUE</div>
            <div class="panel-body">Passionné depuis mon adolescence par le monde du multimédia et
                des nouvelles technologies, je me suis alors dirigé vers l’univers du Web. Celui-ci 
                étant un domaine en constante évolution, je trouve très intéressant et très motivant 
                de suivre les dernières tendances tant au niveau dévéloppeur que technique.</div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">      
                        <div class="col-lg-2">
                            <p class="diplome">BAC+3</p>
                        </div>
                        <div class="col-lg-offset-1 col-lg-9">
                            <p class="text-primary"> Formation Concepteur dévéloppeur informatique (2015 - 2016).<br />M2I Formation</p> 
                            <p class="description_diplome">Metiers proches concernes par la formation concepteur dévéloppeur informatique
                                développeur (web applications, mobiles), intégrateur,   gestionnaire de bases de données, développeur php et 
                                java,Analyste programmeur..<br />Le concepteur développeur informatique écoute les clients et essaye de comprendre 
                                leur besoin (méthode Agile). Il analyse les demandes et les transforme en application informatique. 
                                Il conçoit les arborescences (UML) , choisi les langages et développe du code. Il est chef d’équipe
                                et pilote plusieurs développeurs logiciels qui travaillent à la réalisation d’un projet</p>
                        </div>
                        <div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">      
                        <div class="col-lg-2">
                            <p class="diplome">BAC+2</p>
                        </div>
                        <div class="col-lg-offset-1 col-lg-9">
                            <p class="text-primary"> Certificat professionnel Programmation de sites web. (2013 - 2014)<br /> Conservatoire national des arts et métiers (CNAM)</p> 
                            <p class="description_diplome">Développer un site web, dans un environnement Windows/Linux,
                                Étudier les langages dévolus à la création de pages web et à la création de base de données,
                                Étudier l'installation et l'administration de serveurs web: couches systèmes, réseaux et services
                                Acquérir les concepts fondamentaux de l'infographie</p>
                        </div>
                        <div>
                        </div>
                    </div>

                </div>

            </div>


            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">      
                        <div class="col-lg-2">
                            <p class="diplome">BAC+3/4</p>
                        </div>
                        <div class="col-lg-offset-1 col-lg-9">
                            <p class="text-primary"> Licence scientifique (Ingénierie). (2003 - 2009)<br />Shahjalal université des sciences et de la technologie</p> 
                            <p class="description_diplome">Maitriser les connaissances de base en informatique
                                dans le domaines essentiels suivants programmation, algorithmique, administrateur réseaux, 
                                architecte réseau, architecture des ordinateurs et
                                systèmes d'exploitation, base de donnéés et génire logiciel.</p>
                        </div>
                        <div>
                        </div>
                    </div>

                </div>

            </div>



            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">      
                        <div class="col-lg-2">
                            <p class="diplome">Certificat</p>
                        </div>
                        <div class="col-lg-offset-1 col-lg-9">
                            <p class="text-primary"> CCNA. (2009)<br />Shahjalal université des sciences et de la technologie</p> 
                            <p class="description_diplome">Fondamentaux de réseau,Protocole et concepts de routage, 
                                Lan commutation et sans fil, Accès au réseau étendu.</p>
                        </div>
                        <div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">      
                        <div class="col-lg-2">
                            <p class="diplome">BAC</p>
                        </div>
                        <div class="col-lg-offset-1 col-lg-9">
                            <p class="text-primary"> Science - 2001<br /> Noakhali governement collège, Noakhali, Bangladise</p> 
                            <p class="description_diplome">Fondamentaux des sciences.</p>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                  
    </div>
{% endblock %}
</div>